.contact-div{
    background: linear-gradient(82deg, rgba(52,120,244,1) 0%, rgba(33,19,102,1) 100%);
    color:#fff8f6;

}
.btn-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.anime-btn{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
/*  */